{% extends 'base.html' %}


{% block title %}
    错误页面
{% endblock %}

{% block content %}
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash">
                    {% for message in messages %}
                        <div class="alert alert-success" style="text-align: center">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>{{ message }}</strong>
{#                            <p>{{ url_for('login.login') }}</p>#}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

